streamlit
groq
openai
faiss-cpu
langchain
python-dotenv
tiktoken
unstructured[doc]
sentence-transformers
langchain-community
langchain_openai
langchain_experimental
langchain_chroma
langchainhub
unstructured
torch
torchvision
torchaudio
langchain_community
langchain
langchain_groq 
unstructured
sentence-transformers
pickle5
